<!DOCTYPE html>
<html lang="ru">

<%- include('./parts/head.ejs') %>

<body data-gr-c-s-loaded="true">

    <%- include('./parts/header.ejs') %>

    <%- include('./parts/main-books-page.ejs') %>

    <%- include('./parts/footer.ejs') %>
</body>
</html>