<!DOCTYPE html>
<html lang="ru">

<%- include('./parts/head.ejs') %>

<%- include('./parts/header.ejs') %>

<body data-gr-c-s-loaded="true" clsass="">
    <section id="main" class="main-wrapper">
    <center>
        <p><%=errorMessage%></p>
    </center>
    </section>

    <%- include('./parts/footer.ejs') %>
</body>
</html>